@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MWSans-Bold-Custom';
  src: url('./assets/fonts/MWSans-Bold_4153471986.ttf') format('truetype');
  font-weight: bold; font-style: normal;
}
@font-face {
  font-family: 'MWSans-Regular-Custom';
  src: url('./assets/fonts/MWSans-Regular_3093588806.ttf') format('truetype');
  font-weight: normal; font-style: normal;
}
@font-face {
  font-family: 'Inter-Light-Custom';
  src: url('./assets/fonts/Inter-Light_2797819442.ttf') format('truetype');
  font-weight: 300; font-style: normal;
}

/* RESET TOTAL PARA QUE NADA SEA ITALICO */
* { font-style: normal !important; }

body {
  margin: 0;
  background-color: #0A0A0A;
  color: white;
  font-family: 'MWSans-Regular-Custom', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mrm-bold { font-family: 'MWSans-Bold-Custom', sans-serif !important; }
.inter-light { font-family: 'Inter-Light-Custom', sans-serif !important; }

.scrollbar-hide::-webkit-scrollbar { display: none; }